extends _layout
block content
	main.main-content
		.container
			h1.site-title Новогодняя акция!
			p.site-subtitle Открой счет в Binaring и получи iPhone 7 в подарок!
			.form-wrapper.cf
				.form-inner
					p Только к новому году все наши новые клиенты получат подарки!
					p Начни свой путь на финансовом рынке с новым iPhone 7*
					form#open-account-form(action='https://binaring.com/registration')
						input(type='text', placeholder='Имя', name='fname')
						input(type="password" placeholder="Пароль" name="pass")
						input(type='text', placeholder='Фамилия', name='lname')
						input(type='email', placeholder='Адрес эл. почты', name='email')
						.form-row.cf
							input.code(type='text', placeholder='+7', name='phone_prefix')
							input.number(type='text', placeholder='Телефон', name='phone')
						select.select(name='country')
						//- Campaign specific
						input#your-campaign(type='hidden', name='affiliate_id', value='1')
						input#your-campaign(type='hidden', name='campaign_id', value='1')
						input#your-a_aid(type='hidden', name='a_aid', value='#test')
						input#your-b_bid(type='hidden', name='b_bid', value='#test')
						input.submit(type='submit', value='Зарегистрироваться сейчас')
						p.note * количество ограничено
			.iphone-img
				img(src="img/iphone.png", alt="")
			.exp-text
				p Компания Binaring рада сообщить, что все клиенты открывшие счета в компании в период новогодних праздников получат различные подарки на депозиты от 500-5000$ и выше.
			ul.our-awards
				li.cf
					.logo-side
						img(src="img/award1.png", alt="")
					.txt-side
						p.heading 2016 Forex Expo Awards
						p Лучший брокер бинарных опционов для начинающих
				li.cf
					.logo-side
						img(src="img/award2.png", alt="")
					.txt-side
						p.heading 2016 IAIR Awards
						p Брокер года в номинации «бинарные опционы»



block inlineScripts